<mat-toolbar class="navigation">
  <div class="nav">

    <a class="nav-link" routerLink="#" routerLinkActive="active">
      <span class="nav-header">Mr<span style="color:#ff00008f">.</span>Sleven</span>
    </a>


    <!-- Mobile Navigation -->
    <div class="mobile-nav">
      <button mat-button [matMenuTriggerFor]="menu" class="nav-button">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="dropdown-menu">
        <a class="nav-link nav-link-mobile"
        routerLink="/about"
        routerLinkActive="active">About</a>

        <a class="nav-link nav-link-mobile"
        routerLink="/gallery"
        routerLinkActive="active">Gallery</a>

        <a class="nav-link nav-link-mobile"
        routerLink="/contact"
        routerLinkActive="active">Contact</a>

        <a class="nav-link nav-link-mobile"
        *ngIf="auth.isLoggedIn()"
        routerLink="/admin/home"
        routerLinkActive="active">Admin</a>

        <a class="nav-link nav-link-mobile"
        *ngIf="auth.isLoggedIn()"
        (click)="auth.logout()">Logout</a>

      </mat-menu>
    </div>

    <!-- Desktop Navigation -->
    <div class="desktop-nav">
      <span class="nav-links-group">
        <span class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </span>
        <span class="nav-item">
          <a class="nav-link" routerLink="/gallery" routerLinkActive="active">Gallery</a>
        </span>
        <span class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        </span>
        <span class="nav-item" *ngIf="auth.isLoggedIn()">
          <a class="nav-link" routerLink="/admin/home" routerLinkActive="active">Admin</a>
        </span>
        <span class="nav-item" *ngIf="auth.isLoggedIn()">
          <a class="nav-link" (click)="auth.logout()">Logout</a>
        </span>
      </span>
    </div>
  </div>

</mat-toolbar>
