<mat-toolbar class="navigation">
  <div class="logo-container">
    <img class="logo" src="https://res.cloudinary.com/horx2w1dl/image/upload/a_180/v1578069196/images/EB803800-94BA-4195-A02D-02D83A821C0F_n6ipd3.png">
  </div>

  <div class="nav">
    <!-- Mobile Navigation -->
    <div class="mobile-nav">
      <button mat-button [matMenuTriggerFor]="menu" class="nav-button">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="dropdown-menu">

        <a class="nav-link nav-link-mobile"
           routerLink="/about"
           routerLinkActive="active">
          <img src="https://res.cloudinary.com/horx2w1dl/image/upload/v1578070831/images/Navigation/about.png"
               alt="about page navigation link">
        </a>

        <a class="nav-link nav-link-mobile"
           routerLink="/gallery"
           routerLinkActive="active">
          <img src="https://res.cloudinary.com/horx2w1dl/image/upload/v1578070831/images/Navigation/gallery.png"
               alt="gallery page navigation link">
        </a>

        <a class="nav-link nav-link-mobile"
          href="#">
          <img src="https://res.cloudinary.com/horx2w1dl/image/upload/v1578072913/images/Navigation/shop.png"
               alt="shop page navigation link">
        </a>

        <a class="nav-link nav-link-mobile"
           routerLink="/contact"
           routerLinkActive="active">
          <img src="https://res.cloudinary.com/horx2w1dl/image/upload/v1578070831/images/Navigation/contact.png"
               alt="contact page navigation link">
        </a>

        <a class="nav-link nav-link-mobile"
           *ngIf="auth.isLoggedIn()"
           routerLink="/admin/home"
           routerLinkActive="active">
          <img src="https://res.cloudinary.com/horx2w1dl/image/upload/v1578072447/images/Navigation/admin.png"
               alt="admin page navigation link">
        </a>

        <a class="nav-link nav-link-mobile"
           *ngIf="auth.isLoggedIn()"
           (click)="auth.logout()">
          <img src="https://res.cloudinary.com/horx2w1dl/image/upload/v1578072587/images/Navigation/logout.png"
               alt="logout page navigation link">
        </a>

      </mat-menu>
    </div>

    <!-- Desktop Navigation -->
    <div class="desktop-nav">
      <span class="nav-links-group">

        <span class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">
            <img src="https://res.cloudinary.com/horx2w1dl/image/upload/v1578070831/images/Navigation/about.png"
                 alt="about page navigation link">
          </a>
        </span>

        <span class="nav-item">
          <a class="nav-link" routerLink="/gallery" routerLinkActive="active">
            <img src="https://res.cloudinary.com/horx2w1dl/image/upload/v1578070831/images/Navigation/gallery.png"
                 alt="gallery page navigation link">
          </a>
        </span>
        <span class="nav-item">
          <a class="nav-link" href="#">
            <img src="https://res.cloudinary.com/horx2w1dl/image/upload/v1578072913/images/Navigation/shop.png"
                 alt="shop page navigation link">
          </a>
        </span>
        <span class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">
            <img src="https://res.cloudinary.com/horx2w1dl/image/upload/v1578070831/images/Navigation/contact.png"
                 alt="contact page navigation link">
          </a>
        </span>
        <span class="nav-item" *ngIf="auth.isLoggedIn()">
          <a class="nav-link" routerLink="/admin/home" routerLinkActive="active">
            <img src="https://res.cloudinary.com/horx2w1dl/image/upload/v1578072447/images/Navigation/admin.png"
                 alt="admin page navigation link">
          </a>
        </span>
        <span class="nav-item" *ngIf="auth.isLoggedIn()">
          <a class="nav-link" (click)="auth.logout()">
            <img src="https://res.cloudinary.com/horx2w1dl/image/upload/v1578072587/images/Navigation/logout.png"
                 alt="logout navigation link">
          </a>
        </span>
      </span>
    </div>
  </div>

</mat-toolbar>
