<div class="side-menu col-12 col-sm-3 col-lg-2">
		<ul class="side-menu--nav">
			<li class="row side-menu--nav__item row" title="Home control panel">
				<a href="/userpanel" class="side-menu--nav__link col-12">Admin Home</a>
			</li>
			<li class="side-menu--nav__item navbar-toggler row" title="Admin settings">

				<a href="#" 
					class="side-menu--nav__link col-12" 
					data-toggle="collapse" 
					data-target="#settingsToggleNav">
					<!--<img src="/images/settings-icon.png"/>-->
					Admin Settings
				</a>

				<ul id="settingsToggleNav" class="collapse side-menu--nav__toggle">
					<li >
						<a href="/usercontrol">User Control</a>
					</li>
				</ul>
			</li>			
			<li class="row side-menu--nav__item row" title="Homepage settings">
				<a href="/userhomepage" class="side-menu--nav__link col-12">
					<!--<img class="gallery-icon" src="/images/gallery.png"/>-->
					Homepage Settings
				</a>
			</li>
			<li class="row side-menu--nav__item row" title="gallery settings">
				<a href="/usergallery" class="side-menu--nav__link col-12">
					<!--<img class="gallery-icon" src="/images/gallery.png"/>-->
					Gallery
				</a>
			</li>
			<li class="row side-menu--nav__item row" title="Blog settings">
				<a href="/userblog" class="side-menu--nav__link col-12">
					<!--<img class="gallery-icon" src="/images/gallery.png"/>-->
					Blog
				</a>
			</li>
		</ul>
</div>