		</div> <!-- closes div in nav -->
		<footer class="row">
			<div class="footer">
				<div class="copy">
					<p>&copy; <%= date %> Walton Web Designs</p>
				</div>
			</div>
		</footer>

	<!-- Closes tags in templates/head -->
	</body>
</html>