.gallery-desktop {
  display: none;
}
.gallery-container {
  margin: 0px auto 20px;
  position: relative;
  top: 15px;
}
.container {
  max-width: 95%;
}
.show-more {
  display: none;
}
@media only screen and (min-width: 1020px) {
  .gallery-mobile {
    display: none;
  }
  .gallery-desktop {
    display: grid;
    grid-template-columns: repeat( 4, minmax(250px, 1fr));
    grid-gap: 1rem;

    .gallery-image {
      width: 100%;
      box-shadow: 4px 4px 7px 1px #5b5b5b;
    }

  }
  .show-more {
    display: block;
    text-align: center;
    margin-top: 10px;
  }

  .scroll-to-top, .reset {
    &:hover {
      cursor: pointer;
    }
  }

}
