<div class="video-wrapper">
  <!-- The video -->
  <div class="overlay"></div>
  <video [autoplay]="true" [muted]="true" [loop]="true" [controls]="false" id="myVideo">
    <source src="https://res.cloudinary.com/horx2w1dl/video/upload/v1576265047/video/Blue_f61tlv.mp4" type="video/mp4">
  </video>

  <div class="homepage-content">
    <img class="logo" src="https://res.cloudinary.com/horx2w1dl/image/upload/v1576265091/images/mrsleven_epgexg.jpg">
    <a class="link" routerLink="/home" routerLinkActive="active">Enter</a>
  </div>
</div>
