.botHoneyPot {
  display: none;
}

.contact-form .form {
  width: 90%;
  margin: 10% auto;

  input {
    color: #333;
    margin: 20px 0;
  }

  .send-email-container {
    text-align: center;

    button {
      width: 50%;
      background-color: #ff00008f;
      color: #fff;
      font-family: 'Permanent Marker', cursive;
      font-size: 1.6rem;
      margin-top: 20px;
    }
  }
}

.contact-form .form > * {
  width: 100%;
}

@media only screen and (min-width: 1020px) {
  .contact-form {
    .form {
      margin: 0 auto;
      position: relative;
      width: 50%;

      .send-email-container {
        button {
          width: 25%;
        }
      }
    }
  }

}
