<app-side-nav-component></app-side-nav-component>
<div class="container">
  <div class="top-group">
    <h1 class="header">{{title}}</h1>
    <a routerLink="/about" routerLinkActive="active" class="go-to-page">
      <i class="fas fa-directions fa-lg"></i>
      <span>Go to page</span>
    </a>
  </div>
  <div class="grid-container">
    <div>
      <app-admin-about-header></app-admin-about-header>
      <app-admin-about-signature></app-admin-about-signature>
    </div>
    <app-admin-about-image-left></app-admin-about-image-left>
    <app-admin-about-image-right></app-admin-about-image-right>
    <app-admin-about-image-mobile></app-admin-about-image-mobile>
  </div>
</div>
