.content {
  .about-image, .about-image-second {
    display: none;
  }
  .about-me-mobile {
    margin-top: 15px;
    img {
      box-shadow: 4px 4px 7px 1px #5b5b5b;
    }
  }
  .about-content {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1028px) {

  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;

    .about-me-mobile {
      display: none;
    }

    .about-image, .about-image-second {
      display: inline-block;
    }
  }
  .about-image img, .about-image-second img {
    width: 100%;
    box-shadow: 4px 4px 7px 1px #5b5b5b;
  }
  .signature {
    text-align: center;
    margin: 20px 0;
    position: relative;
    top: 10%;
  }

}
