<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      Update About Header
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>*Only one can be used</p>
    <form (submit)="updateHeader( updateHeaderForm )" #updateHeaderForm="ngForm">
      <div class="form-container">
        <mat-form-field>
          <mat-label>Header</mat-label>
          <input matInput
                 type="text"
                 name="aboutHeader"
                 value="{{aboutHeaderText.header}}"
                 #aboutHeaderInput="ngModel"
                 ngModel>

        </mat-form-field>
        <mat-form-field>
          <mat-label>Image URL</mat-label>
          <input matInput
                  type="text"
                  name="aboutHeaderUrl"
                  #aboutHeaderUrl="ngModel"
                  value="{{aboutHeaderText.url}}"
                  ngModel>
        </mat-form-field>

        <mat-card-actions class="card-action">
            <button mat-raised-button
                    type="submit"
                    class="btn btn-default"
                    color="primary">Update</button>
        </mat-card-actions>
      </div>
    </form>
  </mat-card-content>
</mat-card>
