<app-side-nav-component></app-side-nav-component>
<div class="container">
  <div class="top-group">
    <h1 class="header">{{title}}</h1>
    <a routerLink="/contact" routerLinkActive="active" class="go-to-page">
      <i class="fas fa-directions fa-lg"></i>
      <span>Go to page</span>
    </a>
  </div>

  <div class="instructions-text">
    <ol>
      <li>
        <p>Navigate and login to <a href="https://cloudinary.com/login" target="_blank">Cloudinary</a></p>
      </li>
      <li>
        <p>Navigate to Media Library > images > Gallery</p>

        <img src="assets/images/dashboard-nav.png" alt="dashboard helper image">
        <img src="assets/images/dashboard2.png" alt="dashboard helper image">
        <img src="assets/images/dashboard3.png" alt="dashboard helper image">

      </li>
      <li>
        <p>Upload or Drag and Drop the images.</p>
      </li>
      <li>
        <p>Hover over an image and click on the Spanner Icon</p>
      </li>
      <li>
        <p>Add the tag called 'gallery'. <strong>This is important without the tag the image will not display</strong>.</p>
        <img src="assets/images/image-config.png" alt="dashboard helper image">
      </li>
      <li>
        <p>Now click on the Metadata tab</p>
      </li>
      <li>
        <p>Add a title and description</p>
        <img src="assets/images/image-config2.png" alt="dashboard helper image">
      </li>
      <li>
        <p>Repeat for each image</p>
      </li>
    </ol>
  </div>
</div>
