<!-- Mobile & Tablet Gallery -->
<div class="container gallery-container gallery-mobile">
  <ngx-gallery [options]="galleryOptions"
    [images]="galleryImages">
  </ngx-gallery>
</div>

<div class="container gallery-desktop">
  <figure *ngFor="let img of galleryImages.slice(0, galleryLimit)" class="gallery-item">
    <img class="gallery-image" src="{{img.big}}" alt="{{img.description}}" (click)="openImageModal( img.big, img.description )">
  </figure>
</div>

<div class="show-more" *ngIf="galleryImages.length > 8">
  <button mat-fab (click)="showMore()">
    <mat-icon aria-hidden="false" aria-label="show more">keyboard_arrow_down</mat-icon>
  </button>
  <p class="scroll-to-top" *ngIf="galleryLimit > 16" (click)="scrollToTop()">Back to top
    <span> / </span>
    <span class="reset" (click)="resetGalleryLimit()">Reset</span>
  </p>
</div>
