<div class="container" *ngFor="let content of aboutContent">
  <div class="content">

    <div class="about-image">
      <img src="{{content.images[0].src}}" alt="{{content.images[0].alt}}">
    </div>

    <div class="about-content">

      <div class="about-me-mobile">
        <img src="{{content.images[2].src}}" alt="{{content.images[2].alt}}">
      </div>

      <div class="header">
        <h1 class="about-header header" *ngIf="content.header.length > 0">{{content.header}}</h1>
        <img class="about-header-image" *ngIf="content.headerUrl.length > 0" src="{{content.headerUrl}}" alt="About header image">
      </div>

      <div [innerHTML]="content.content" class="about-text"></div>

      <div class="signature">
        <img src="{{content.signature.src}}" alt="{{content.signature.alt}}">
      </div>

    </div>

    <div class="about-image-second">
      <img src="{{content.images[1].src}}" alt="{{content.images[1].alt}}">
    </div>

  </div>
</div>
