<mat-toolbar class="navigation">
  <div class="nav">

    <a class="nav-link" routerLink="/home" routerLinkActive="active">
      <span class="nav-header">Mr.Sleven</span>
    </a>

    <!-- Mobile Navigation -->
    <div class="mobile-nav">
      <button mat-button [matMenuTriggerFor]="menu" class="nav-button">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="dropdown-menu">
        <a class="nav-link nav-link-mobile"
           routerLink="/about"
           routerLinkActive="active">About</a>

        <a class="nav-link nav-link-mobile"
           routerLink="/gallery"
           routerLinkActive="active">Gallery</a>
      </mat-menu>
    </div>

    <!-- Desktop Navigation -->
    <div class="desktop-nav">
      <span class="nav-links-group">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        <a class="nav-link" routerLink="/gallery" routerLinkActive="active">Gallery</a>
      </span>
    </div>
  </div>

</mat-toolbar>
