.social-media-group {
  background-color: transparent;
  position: static;
  bottom: 10px;

  .icon-group {
    margin: 0 auto;
    .social-link {
      color: #000;
      padding: 0 20px;
    }
  }
}

/* TABLET STYLING */
@media only screen and (min-width: 760px) {
  .social-media-group {
    margin-bottom: 0;
  }
}
