@media( min-width : 700px ) {
	footer {
		display 			: block;
		position 			: absolute;
		bottom 				: 0px;
		background-color 	: transparent;
		height 				: 40px;
		width 				: 100%;
			.copy {
				padding 	: 10px 15px 0px 15px;
				float 		: right;
				color 		: $font-color;
			}
	}	
}