/* 
	Variables
*/
$font-color 	: #333;
$font-white 	: #eaf5fb;

$success-color 	: #1b998b;
$error-color 	: #a4303f;

$nav-font-color 		: $font-white;
$nav-background-color 	: #027bce;

$footer-background-color : #e1e5f2;
