/* 
	Variables
*/
/** 
 * Navigation bar defaults for the admin panel 
 */
ul {
  margin: 0; }
  ul li {
    list-style-type: none;
    margin: 5px; }
  ul a:hover {
    text-decoration: none; }

.nav-admin {
  background-color: #027bce; }
  .nav-admin .page-title {
    color: #eaf5fb;
    display: inline-block;
    margin-left: 25px;
    padding-top: 5px; }
  .nav-admin .navbar-toggler {
    float: right;
    height: 30px;
    width: 30px;
    margin: 10px; }
  .nav-admin .navbar-collapse ul {
    padding: 5px; }
    .nav-admin .navbar-collapse ul a {
      padding: 10px;
      color: #eaf5fb; }
      .nav-admin .navbar-collapse ul a:hover {
        color: #eaf5fb; }

.navbar {
  border-radius: 0px;
  margin-bottom: 0px; }

/* 
	Mobile Styling	
*/
@media (min-width: 700px) {
  nav .page-title {
    padding: 5px 5px 5px 10px; }
  nav .navbar-collapse {
    float: right;
    position: relative;
    top: 4px;
    font-size: 1.4rem; }
  nav .navbar-toggler {
    display: none; }
  .side-menu {
    background-color: #027bce;
    text-align: center;
    height: 100vh; }
    .side-menu .side-menu--nav {
      padding: 0; }
    .side-menu .side-menu--nav__link {
      color: #e1e5f2; }
      .side-menu .side-menu--nav__link:hover {
        color: #e1e5f2; }
    .side-menu .side-menu--nav__toggle {
      padding: 0; }
      .side-menu .side-menu--nav__toggle li a {
        color: #e1e5f2; } }

/** 
 * Navigation bar defaults for thew admin panel 
 */
ul {
  margin: 0; }
  ul li {
    list-style-type: none;
    margin: 5px; }
  ul a:hover {
    text-decoration: none; }

.navigation {
  background-color: transparent; }
  .navigation .page-title {
    color: #333;
    display: inline-block;
    margin-left: 25px;
    padding-top: 5px; }
  .navigation .navbar-toggler {
    float: right;
    height: 30px;
    width: 30px;
    margin: 10px; }
  .navigation .navbar-collapse ul {
    padding: 5px; }
    .navigation .navbar-collapse ul a {
      padding: 10px;
      color: #333; }

.navbar {
  border-radius: 0px;
  margin-bottom: 0px; }

/* 
	Side Navigation
*/
/* 
	Mobile Styling	
*/
@media (min-width: 700px) {
  nav .page-title {
    padding: 5px 5px 5px 10px; }
  nav .navbar-collapse {
    float: right;
    position: relative;
    top: 4px;
    font-size: 1.4rem; }
  nav .navbar-toggler {
    display: none; }
  /* 
		Side Navigation
	*/ }

/*
 Forms
*/
.image-upload .upload-form input, .image-upload .upload-form select, .image-upload .delete-image-form input, .image-upload .delete-image-form select, .image-delete .upload-form input, .image-delete .upload-form select, .image-delete .delete-image-form input, .image-delete .delete-image-form select {
  width: 100%; }

.image-upload .upload-form .upload-image-btn, .image-upload .upload-form .delete-image-btn, .image-upload .delete-image-form .upload-image-btn, .image-upload .delete-image-form .delete-image-btn, .image-delete .upload-form .upload-image-btn, .image-delete .upload-form .delete-image-btn, .image-delete .delete-image-form .upload-image-btn, .image-delete .delete-image-form .delete-image-btn {
  margin-top: 20px; }

@media (min-width: 700px) {
  footer {
    display: block;
    position: absolute;
    bottom: 0px;
    background-color: transparent;
    height: 40px;
    width: 100%; }
    footer .copy {
      padding: 10px 15px 0px 15px;
      float: right;
      color: #333; } }

/* pages */
@media (min-width: 700px) {
  .user-control .body .usercontrol {
    padding: 20px; }
  .user-control .body .createuser, .user-control .body .deleteuser, .user-control .body .edituserpass {
    display: inline-block;
    margin-right: 20px; } }

@media (min-width: 700px) {
  .userpanel_gallery .body .image-upload, .userpanel_gallery .body .image-delete {
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px; } }

@media (min-width: 700px) {
  .gallery .body img {
    width: 25%; } }
