<%- include( '../../partials/head.ejs' ); %>

<%- include( '../../partials/admin_nav.ejs') %>

<%- include( '../../partials/admin_side_nav.ejs') %>

<div class="body col-12 col-sm-9 col-lg-10">
	
	<h4>To Do List :</h4>
	<ul>
		<li>Error Handling</li>
		<li>Dynamic Welcome page : Welcome text, links to tools, etc..</li>
		<li>Create blog page</li>
		<li>Create personal info page</li>
		<li>Create file upload/remove for gallery</li>
		<li>Ability to edit pages text</li>
		<li>Better styling for mobile &amp; desktop</li>
		<li>Personalize admin panel : color scheme, fonts, background colours</li>


	</ul>
	
</div>	


<%- include( '../../partials/footer.ejs' ); %>