<mat-toolbar class="sidenav-container">
  <mat-list>
    <mat-list-item class="nav-item">
      <a routerLink="/admin/user" routerLinkActive="active" class="nav-link">
        <mat-icon color="warn" class="icon">group</mat-icon>
        <span>Users</span>
      </a>
    </mat-list-item>

    <mat-list-item class="nav-item">
      <a routerLink="/admin/about" routerLinkActive="active" class="nav-link">
        <mat-icon color="warn" class="icon">subject</mat-icon>
        <span>About</span>
      </a>
    </mat-list-item>

    <mat-list-item class="nav-item">
      <a routerLink="/admin/gallery" routerLinkActive="active" class="nav-link">
        <mat-icon color="warn" class="icon">photo_library</mat-icon>
        <span>Gallery</span>
      </a>
    </mat-list-item>


    <mat-list-item class="nav-item">
      <a routerLink="/admin/contact" routerLinkActive="active" class="nav-link">
        <mat-icon color="warn" class="icon">email</mat-icon>
        <span>Contact</span>
      </a>
    </mat-list-item>

  </mat-list>
</mat-toolbar>
