<div class="container">
  <div class="contact-form">
    <mat-form-field>
      <input matInput placeholder="Name" class="name-input">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="E-mail" class="email-input">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput
                placeholder="Message"
                class="message-input"
                rows="10"
                required>

      </textarea>
    </mat-form-field>
    <div class="send-email-container">
      <button mat-raised-button class="btn-send-email">Send</button>
    </div>
  </div>
</div>

