/* MOBILE STYLING AND COMMON*/

.body .navigation {
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  padding: 15px;

  .logo {
    max-width: 120px;
    box-shadow: none;
    margin-top: 10px;
  }

  .desktop-nav {
    display: none;
  }

  .nav-button {
    .mat-icon {
      height: 30px;
      width: 30px;
    }
    .material-icons {
      font-size: 30px;
    }
  }

  .mobile-nav {
    float: right;
  }
}

.nav-image {
  max-width: 100px;
}



/* TABLET STYLING */
@media only screen and (min-width: 760px) {
  .body .navigation {
    .nav {
      padding-right: 20px;
    }
    .logo-container {
      max-width: 50%;
    }
  }
}


/* DESKTOP STYLING */
@media only screen and (min-width: 1020px) {

  .body .navigation {
    padding: 10px 0px 10px 30px;
    background: transparent;

    .mobile-nav {
      display: none;
    }

    .logo {
      margin-top: 0;
    }

    .desktop-nav {
      display: block;
      float: right;

      .nav-link {
        margin-left: 20px;
          img {
            max-width: 100px;
            padding-top: 10px;
          }
      }
    }
  }
}
