/* MOBILE STYLING AND COMMON*/

.body .navigation {
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;

  .logo-container {
    max-width: 70%;
    display: inline-block;
    margin-top: 10px;

    .logo {
      width: 100%;
      box-shadow: none;
    }
  }


  .desktop-nav {
    display: none;
  }

  .nav-button {
    .mat-icon {
      height: 30px;
      width: 30px;
    }
    .material-icons {
      font-size: 30px;
    }
  }

  .mobile-nav {
    float: right;
  }

}

/* TABLET STYLING */
@media only screen and (min-width: 760px) {
  .body .navigation {
    .nav {
      padding-right: 20px;
    }
    .logo-container {
      max-width: 50%;
    }
  }
}


/* DESKTOP STYLING */
@media only screen and (min-width: 1020px) {

  .body .navigation {
    padding: 10px 0px 10px 20px;
    background: transparent;

    .logo-container {
      width: 23%;
    }

    .mobile-nav {
      display: none;
    }

    .desktop-nav {
      display: block;
      float: right;

      .nav-link {
        padding: 0 10px;
      }
    }
  }
}
