/* You can add global styles to this file, and also import other style files */
$background-color: #000000e6;
$font-family: 'Permanent Marker', cursive;

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $background-color;
}

.header, p {
  color: #DFDFDF;
}

.container {
  margin: 0 auto 20%;
  max-width: 90%;
}

/* Navigation dropdown menu */
.dropdown-menu {
  background: #000;
  text-align: center;

  .nav-link-mobile {
    color: #DFDFDF;
    display: block;
    text-decoration: none;
    font-family: $font-family;
    font-size: 1.2rem;
    padding: 10px 20px;
    &:not(:last-child) {
      border-bottom: 1px solid #ff00008f;
    }
  }
}

/* Contact Form */
.contact-form {
  .mat-form-field-label {
    color: #DFDFDF;
  }
}

@media only screen and (min-width: 1020px) {
  .container {
    max-width: 80%;
    margin: 0 auto;
  }
}
