/* You can add global styles to this file, and also import other style files */
$background-color: #000000e6;
$font-family: 'Permanent Marker', cursive;
$font-color: #393939;

.body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header, p {
  color: $font-color;
}

.container {
  margin: 0 auto 5%;
  max-width: 90%;
}

.card {
  background: #eee;
  margin-bottom: 1rem;
}

.form-container > * {
  width: 100%;
}

.card-action {
  margin-left: 0
}

.form-container {
  padding: 0 15px;
}

.form-container > * {
  width: 100%;
}


/* Navigation dropdown menu */
.dropdown-menu {
  text-align: center;

  .nav-link-mobile {
    display: block;
    margin: 5px;
    padding: 0 20px;
  }
}

/* Contact Form */
.contact-form {
  .mat-input-element {
    caret-color: #ff00008f;
    color: $font-color;
  }
  .mat-form-field-label {
    color: #DFDFDF;
  }
}

.grid-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;

}
@media only screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(4, 2fr);
  }
}

@media only screen and (min-width: 1020px) {
  .container {
    max-width: 80%;
    margin: 1% auto 0;
  }
}
