<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      Delete admin user
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form (submit)="delete( deleteUserForm )" #deleteUserForm="ngForm">
      <div class="form-container">
        <mat-form-field>
          <mat-label>User</mat-label>
          <select class="form-input"
                  matNativeControl
                  name="adminUser"
                  required
                  ngModel
                  #deleteUser="ngModel">
                  <option *ngFor="let user of adminUsers"
                          [value]="[user._id, user.username]">{{user.username}}</option>
          </select>
        </mat-form-field>

        <mat-card-actions class="card-action">
            <button mat-raised-button
                    type="submit"
                    class="btn btn-default"
                    color="warn"
                    [disabled]="!deleteUserForm.valid">Delete</button>
        </mat-card-actions>
      </div>
    </form>
  </mat-card-content>
</mat-card>
